/*
 THirsty script black heading 20$
 lookaline font - lickerli one
                - pacifico
tagline - 
lookalike font - cookie
    font-family: 'Cookie', cursive;
font-family: 'Leckerli One', cursive;

bg-color: #cde4eb;
 */
html{
    height: 100%;
    scroll-behavior: smooth;
}
body{
    background:none;
}
.my-header {
    margin-bottom: 2rem;
}
.my-header-img {
    background-image: url(images/mask-logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 30% 56%;
}

.my-header h1{
    font-family: 'Leckerli One', cursive;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: coral;
    font-size: 12vw;


}
.my-tagline{
    margin-top: 2rem;

}

.my-tagline p{
    font-family: 'Cookie', cursive;
    font-size: 6.5vw;
}

.my-about-us {
    margin-top: 2rem;
    
}
.my-about-text {
    border-left: 0.2rem solid black;
}

.my-about-text p{
    text-align: justify;
}

.my-verse{
    margin-top: 2rem;

}
.my-verse p{
    font-size: 4vw  ;
    font-family: 'Cookie', cursive;
    text-align: center;
}

.my-masks {
    margin-top: 2rem;

}
.my-masks p{
    border-bottom: 1px solid black;
    display: inline-block;
}