
/*
 THirsty script black heading 20$
 lookaline font - lickerli one
                - pacifico
tagline - 
lookalike font - cookie
    font-family: 'Cookie', cursive;
font-family: 'Leckerli One', cursive;

bg-color: #cde4eb;
 */
 html {
    height: 100%;
    scroll-behavior: smooth;
}
body {
    background-color: white;
    /* background-image: url(can-be-used-images/updated_bg.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
/* =========HEADER=================================== */
.my-header {
    background: none;
    position: relative;
    left: 5%;
}
@media only screen and (max-width:575.98px ) {
    .my-header {
        position: relative;
        left: 9%;

    }
}
/* =============================NAVIGATION=================== */


/* =======logo,title and tagline================== */
.my-logo-title {
    height: auto;
    
}
.card{
    height: 100%;
    background-color: white;
    border: none;

}
.card img {
    height: 100%;

}
.my-title {
    text-align: center;
    letter-spacing: 0.2rem;
}
.my-title h1{
    font-family: 'Leckerli One', cursive;
    color: rgb(255, 121, 73);
    font-size: 7vw;
    height: 100%;
    padding-top: 2rem;
    text-align: center;
    
}
.my-tagline {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.my-tagline p {
    font-family: 'Cookie', cursive;
    text-align: center;
    font-size: 3rem;

}
@media only screen and (min-width:576px){
    .my-title h1{
        font-size: 11vw;
        text-align: start;
        
    }
    .my-tagline p {
        font-size: 6.5vw;
        position: relative;
        left: -6.5%;
    }
       
}
@media only screen and (min-width:992px){
    /* .my-title h1{
        font-size: 9vw;
        text-align: start;
        
    }    */
}
@media only screen and (min-width:768px){
    /* .my-title h1{
        font-size: 9vw;
        text-align: start;
        
    }    */
    .my-tagline p {
        font-size: 6.5vw;
        position: relative;
        left: -10%;
    }
}

@media only screen and (max-width:575.98px){
    .my-title h1{
        font-size: 12vw;
        text-align: start;
        
    }
    .card img {
        height:75% ;
        position: relative;
        top: 17%;
    }
    .my-tagline p {
        font-size: 8vw;
        position: relative;
        left: -9%;
    }
    
}






/* ========ABOUT ============================================= */
.my-about-us {
    background: white;
    padding: 4rem;
    margin-top: 2rem;
    position: relative;
    top: 6vw;
    margin-bottom: 2rem;
    width: 80vw;
}
.my-about-heading {
    margin-bottom: 2rem;
}
.my-about-para {
    border-left: 2px solid black;
    padding-left: 2rem;
    text-align: justify;
}
@media only screen and (max-width:767.98px){
    .my-aboutus-img {
        display: none;
    }
}
.my-verse p span {
    font-weight: normal;
}
.my-verse p {
    font-family: 'Cookie', cursive;
    font-weight: bold;
    text-align: end;
    font-size: 2rem;
    position: relative;
    top: 4rem;
    right: 17vw;

}
@media only screen and (max-width:1199.98px){
    .my-verse p {
        position: relative;
        right: 17vw;
    }
    }
@media only screen and (max-width:991.98px){
    .my-verse p {
        position: relative;
        right: 5%;
    }
    }
@media only screen and (max-width:767.98px){
    .my-verse p {
        position: relative;
        right: -1vw;
    }
    }
@media only screen and (max-width:575.98px){
.my-verse p {
    position: relative;
    right: 3vw;
}
}
