/*
 THirsty script black heading 20$
 lookaline font - lickerli one
                - pacifico
tagline - 
lookalike font - cookie
    font-family: 'Cookie', cursive;
font-family: 'Leckerli One', cursive;

bg-color: #cde4eb;
 */
 html{
    height: 100%;
    scroll-behavior: smooth;
}
body{
    background:none;
}
.my-header {
    margin-bottom: 2rem;
    height: 50vw;
    background: url(images/original-logo-edited.png);
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: 75% 100%;
}
/* .my-header {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    background-color: black;
    height: 25vw;
} */

/* .my-header img{
    width: 100%;
    object-fit: contain;
    object-position: 50% 10%;
} */


.my-about-us {
    margin-top: 2rem;
    
}
.my-about-text {
    border-left: 0.2rem solid black;
}

.my-about-text p{
    text-align: justify;
}

.my-verse{
    margin-top: -15vw;

}
.my-verse p{
    font-size: 4vw  ;
    font-family: 'Cookie', cursive;
    text-align: center;
}

.my-masks {
    margin-top: 2rem;
    display: flex;
    justify-content: center;

}
.my-masks p{
    border-bottom: 1px solid black;
    display: inline-block;
}
/* added stuff new 12.40pm 07/1/21 */


/* @media only screen and (max-width:575px){
    .my-tagline p {
    font-size: 7.5vw;
}
}
@media only screen and (min-width:760px){
    .my-tagline p {
        font-size: 6.9vw;
    }
}
@media only screen and (min-width:986px){
    .my-tagline p {
        font-size: 7.9vw;
    }
} */